<style>
    .custom-color {
        color: rgb(28, 57, 107);
    }
</style>

<div class="container mt-4">
    <div class="row">
        <!-- First Card (8 columns wide) -->
        <div class="col-md-6">
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <div class="media d-flex">
                            <div class="align-self-center">
                                <i class="fas fa-pen primary fa-3x text-primary"></i>
                            </div>
                            <div class="media-body text-right">
                                <h2 class="custom-color">278</h2>
                                <span>New Posts</span>
                            </div>
                        </div>
                        <div class="media d-flex mt-4">
                            <div class="align-self-center">
                                <i class="far fa-comment-alt warning fa-3x text-warning"></i>
                            </div>
                            <div class="media-body text-right">
                                <h2 class="custom-color">156</h2>
                                <span>New Comments</span>
                            </div>
                        </div>
                        <div class="media d-flex mt-4">
                            <div class="align-self-center">
                                <i class="far fa-chart-bar fa-3x text-danger"></i>
                            </div>
                            <div class="media-body text-right">
                                <h2 class="custom-color">64.89 %</h2>
                                <span>Bounce Rate</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Second Card (4 columns wide) -->
        <div class="col-md-6">
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <div class="media d-flex">
                            <div class="align-self-center">
                                <i class="far fa-user fa-3x text-primary"></i>
                            </div>
                            <div class="media-body text-right">
                                <h2 class="custom-color">312</h2>
                                <span>New Clients</span>
                            </div>
                        </div>
                        <div class="media d-flex mt-4">
                            <div class="align-self-center">
                                <i class="fas fa-rocket fa-3x text-warning"></i>
                            </div>
                            <div class="media-body text-right">
                                <h2 class="custom-color">106</h2>
                                <span>New Projects</span>
                            </div>
                        </div>
                        <div class="media d-flex mt-4">
                            <div class="align-self-center">
                                <i class="fas fa-map-marker-alt fa-3x text-danger"></i>
                            </div>
                            <div class="media-body text-right">
                                <h2 class="custom-color">6938</h2>
                                <span>Total Visits</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
