<style>
    .custom-color {
        color: rgb(28, 57, 107);
    }
</style>

<div class="card mt-4">
    <div class="card-content">
        <div class="card-body">
            <div class="media d-flex">
                <div class="align-self-center">
                    <i class="far fa-life-ring fa-3x text-primary"></i>
                </div>
                <div class="media-body text-right">
                    <h2 class="custom-color">71</h2>
                    <span>Support Tickets</span>
                </div>
            </div>
            <div class="media d-flex mt-4">
                <div class="align-self-center">
                    <i class="fas fa-dollar-sign success fa-3x text-warning"></i>
                </div>
                <div class="media-body text-right">
                    <h2 class="mr-2 custom-color">$76,456</h2>
                    <span>Total Sales</span>
                </div>
            </div>
            <div class="media d-flex mt-4">
                <div class="align-self-center">
                    <i class="fas fa-calculator fa-3x text-danger"></i>
                </div>
                <div class="media-body text-right">
                    <h2 class="custom-color">$16,138</h2>
                    <span>Total Cost</span>
                </div>
            </div>
        </div>
    </div>
</div>
