<div class="row">
                        <!-- First small card -->
                        <div class="col-md-6">
                            <div class="small-card mb-3">
                                <div class="dropdown small-card-options">
                                    <a href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="vertical-dots">...</span>
                                    </a>
                                    <!-- Dropdown Menu -->
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item" href="#">Option 1</a>
                                        <a class="dropdown-item" href="#">Option 2</a>
                                    </div>
                                </div>
                                
                                            <div class="mb-3">
                                            <div class="clock-icon">&#128339;</div>
                                            </div>
                                <div class="small-card-title">Profit</div>
                                <div class="small-card-number">$1,200</div>
                                <div class="small-card-percentage">+15%</div>
                            </div>
                        </div>

                        <!-- Second small card (next to the first card) -->
                        <div class="col-md-6">
                        <div class="small-card mb-3">
                            <div class="dropdown small-card-options">
                                    <a href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="vertical-dots">...</span>
                                    </a>
                                    <!-- Dropdown Menu -->
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item" href="#">Option 1</a>
                                        <a class="dropdown-item" href="#">Option 2</a>
                                    </div>
                                </div>
                                            <div class="mb-3">
                                        <div class="sales-icon">&#128177;</div>
                                        </div>
                                <div class="small-card-title">Sales</div>
                                <div class="small-card-number">$29,300</div>
                                <div class="small-card-percentage">+46%</div>
                        </div>
                        </div>
                    </div>

                    <div class="row">
                        <!-- Third small card (under the first card) -->
                        <div class="col-md-6">
                        <div class="small-card mb-3">
                            <div class="dropdown small-card-options">
                                    <a href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="vertical-dots">...</span>
                                    </a>
                                    <!-- Dropdown Menu -->
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item" href="#">Option 1</a>
                                        <a class="dropdown-item" href="#">Option 2</a>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <div class="payment-icon">&#128179;</div>
                                </div>

                                <!-- Card Title, Number, and Percentage -->
                                <div class="small-card-title">Payment</div>
                                <div class="small-card-number">$800</div>
                                <div class="small-card-percentage">-10%</div>
                        </div>
                        </div>

                        <!-- Fourth small card (next to the third card) -->
                        <div class="col-md-6">
                        <div class="small-card mb-3">
                            <div class="dropdown small-card-options">
                                    <a href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="vertical-dots">...</span>
                                    </a>
                                    <!-- Dropdown Menu -->
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item" href="#">Option 1</a>
                                        <a class="dropdown-item" href="#">Option 2</a>
                                    </div>
                                </div>
                                    <div class="mb-3">
                                        <div class="transactions-icon" style="color: blue;">&#128185;</div>
                                    </div>

                                    <!-- Card Title, Number, and Percentage -->
                                    <div class="small-card-title">Transactions</div>
                                    <div class="small-card-number">$1,500</div>
                                    <div class="small-card-percentage">+5%</div>
                            </div>
                        </div>
                            
                    </div>