<!-- app/views/home/index.html.erb -->
<style>
.sidebar {
    height: 100%;
    background-color: #fff; /* Updated to white background */
    color: #343a40; /* Updated text color for better contrast */
  }

  .navbar-toggler-icon {
    background-color: #343a40; /* Updated toggle button color */
  }

  .navbar-nav .nav-link {
    color: #343a40; /* Updated sidebar links color */
  }

  .navbar-nav .nav-link:hover {
   background-color: #dcddef; /* Hover color */
  }
 
  .dropdown-menu .dropdown-item {
    color: #343a40; /* Dropdown item color */
  }

  .dropdown-menu .dropdown-item:hover {
    background-color: #495057; /* Dropdown item hover color */
  }

  .custom-search-box {
    height: 60px; 
  }

  
    /* Style for the new sections */
  .custom-section {
    background-color: #f8f9fa;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .custom-section h3 {
    color: #007bff;
  }


   /* Style for the card section */
  .small-cards-section {
    margin-top: 20px;
  }

  .small-card {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .small-card-title {
    font-size: 18px;
    font-weight: bold;
  }

  .small-card-number {
    font-size: 24px;
    font-weight: bold;
  }

  .small-card-percentage {
    color: green; /* Change color based on gain or loss */
  }

  .small-card-options {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .vertical-dots {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  display: inline-block;
}
.dropdown-menu {
  right: auto;
  left: 0;
}


/* id swction */

</style>




  <div class="container-fluid bg-light">
    <div class="row">
                 <!-- Dashboard Section (2 columns) -->
          <div class="col-md-2 bg-light sidebar">
            <%= render "sidebar" %>
          </div>
      <div class="col-md-10 bg-light">
        <%= render "dashboard_body" %>
      </div>
   </div>
  </div>
